button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
  button.active {
  background-color: #ccc;
}